doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        include _includes/_content.pug
    link(href="css/style.css",rel="stylesheet",type="text/css")
    script(src="js/script.js")
