doctype html
html
    include _includes/_head.jade
    body.starterkit
        include _includes/_header.jade
        include _includes/_content.jade
    link(href="css/style.css",rel="stylesheet",type="text/css")
    script(src="js/script.js")
