.wrap.container-fluid
    .starterkit-section
        h3 About
        p
            |The <b>starterkit</b> allows you to create and build awesome sites without worrying about anything else.
            |<b>The only thing you should worry about is your code</b>. Just <code>clone</code> the repository run <code>npm install</code> <code>gulp</code> and you're ready to go!.
            |For more information about <code>gulp tasks</code> and the project, go to the <a href="https://github.com/carloscuesta/starterkit#carlos-cuesta-starter-kit">starterkit documentation</a>.
    .starterkit-section
        h3 Starterkit Generator
        p
            |I've created a yeoman generator to use with the starterkit.
            |If you want to use different technologies (add / remove) something that you don't like you should use <a href="http://npmjs.com/package/generator-starterkit">generator-starterkit</a>.
            |The <b>generator-starterkit</b> is a <a href="http://yeoman.io">yeoman generator</a> that will ask you for the technologies that you want to use and will create dynamically a project folder with all the necessary files and customized files based on your choices.
            |To use the starterkit generator simply go to <a href="http://npmjs.com/package/generator-starterkit">generator-starterkit</a> read the documentation, and install it.
    .starterkit-section.closing-section
        h3 Author
        p
            |This starterkit has been made with ♥ by <a href="http://carloscuesta.me">Carlos Cuesta</a>.
            |Feel free to give me a shout on twitter <a href="https://twitter.com/crloscuesta">@crloscuesta</a> and ★ the project at Github.
