.wrap.container-fluid
	.starterkit-section
		h3 About
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	.starterkit-section
		.row
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://gulpjs.com")
					img(src="files/img/gulp.png", height="90", width="40")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://jade-lang.com")
					img(src="files/img/jade.svg", height="105")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://sass-lang.com")
					img(src="files/img/sass.svg", height="115")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://babeljs.io")
					img(src="files/img/babel.png", height="70", width="154", style="margin-top:20px;")
	.starterkit-section
		h3 Author
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.