.wrap.container-fluid
	.starterkit-section
		h3 about
		p the <b>starterkit</b> allows you to create and build awesome sites without worrying about anything else. <b>The only thing you should worry about is your code</b>.
	.starterkit-section
		.row
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://gulpjs.com")
					img(src="files/img/gulp.png", height="90", width="40")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://jade-lang.com")
					img(src="files/img/jade.svg", height="105")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://sass-lang.com")
					img(src="files/img/sass.svg", height="115")
			.col-xs-6.col-sm-3.col-md-3.center-xs
				a(href="http://babeljs.io")
					img(src="files/img/babel.png", height="70", width="154", style="margin-top:20px;")
	.starterkit-section
		h3 author