head
	base(href="./assets/")
	title Carlos Cuesta | Web Starter Kit : A Front End gulp based starterkit.
	meta(charset='utf-8')
	link(rel='canonical', href='https://starterkit.carloscuesta.me')
	meta(name='author', content='Carlos Cuesta')
	meta(name='description', content='Carlos Cuesta Starterkit - A Front End gulp based workflow for your web development projects.')
	meta(name='keywords', content='Carlos Cuesta, Carlos Cuesta Starterkit, starterkit, web starterkit, webstarterkit, gulpjs, 	workflow, carlos, cuesta, cuesta starterkit, web starterkit, front end, web development')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='twitter:card', content='summary')
	meta(name='twitter:description', content='Carlos Cuesta Starterkit - A Front End gulp based workflow for your web development 	projects.')
	meta(name='twitter:creator', content='@crloscuesta')
	meta(name='twitter:url', content='https://starterkit.carloscuesta.me')
	meta(name='twitter:title', content='Starterkit')
	meta(property='og:image', content='https://starterkit.carloscuesta.me/assets/socialimage.png')
	meta(name='twitter:image:src', content='https://starterkit.carloscuesta.me/assets/socialimage.png')
	link(rel='apple-touch-icon', sizes='57x57', href='assets/favicon/apple-icon-57x57.png')
	link(rel='apple-touch-icon', sizes='60x60', href='assets/favicon/apple-icon-60x60.png')
	link(rel='apple-touch-icon', sizes='72x72', href='assets/favicon/apple-icon-72x72.png')
	link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon/apple-icon-76x76.png')
	link(rel='apple-touch-icon', sizes='114x114', href='assets/favicon/apple-icon-114x114.png')
	link(rel='apple-touch-icon', sizes='120x120', href='assets/favicon/apple-icon-120x120.png')
	link(rel='apple-touch-icon', sizes='144x144', href='assets/favicon/apple-icon-144x144.png')
	link(rel='apple-touch-icon', sizes='152x152', href='assets/favicon/apple-icon-152x152.png')
	link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-icon-180x180.png')
	link(rel='icon', type='image/png', sizes='192x192', href='assets/favicon/android-icon-192x192.png')
	link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='96x96', href='assets/favicon/favicon-96x96.png')
	link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
	link(rel='manifest', href='/manifest.json')
	meta(name='msapplication-TileColor', content='#f33155')
	meta(name='msapplication-TileImage', content='assets/favicon/ms-icon-144x144.png')
	meta(name='theme-color', content='#f33155')
	