header
  h1 starterkit
  h2 A Front End Gulp.js based workflow
  .buttons
    a.btn(href='https://github.com/carloscuesta/starterkit/', target='_blank', onclick="ga('send', 'event', 'Button', 'Header - GitHub');") GitHub
    a.btn(href='https://github.com/carloscuesta/starterkit/archive/master.zip', target='_blank', onclick="ga('send', 'event', 'Button', 'Header - Download');") Download
    a.btn(href='https://github.com/carloscuesta/generator-starterkit', target='_blank', onclick="ga('send', 'event', 'Button', 'Header - Generator');") Generator
