header.row.hero.center-xs.middle-xs
	.col-xs-12
		.row.center-xs
			h1.title-hero Carlos Cuesta 
				span.subtitle <br>starterkit
		.row.center-xs
			p.text-hero Starterkit for your new web development projects.
		.row.center-xs
			.col-xs-12.col-md-3.col-sm-4.col-lg-2
				a.button(href="https://github.com/carloscuesta/starterkit") Github
			.col-xs-12.col-md-3.col-sm-4.col-lg-2
				a.button.download(href="https://github.com/carloscuesta/starterkit/archive/master.zip") Download
			.col-xs-12.col-md-3.col-sm-4.col-lg-2
				a.button.download(href="https://github.com/carloscuesta/starterkit") Fork