head
	base(href="./assets/")
	title Carlos Cuesta | Web Starter Kit : A Front End gulp based starterkit.
	meta(charset='utf-8')
	link(rel='canonical', href='https://starterkit.carloscuesta.me')
	meta(name='author', content='Carlos Cuesta')
	meta(name='description', content='Carlos Cuesta Starterkit - A Front End gulp based workflow for your web development projects.')
	meta(name='keywords', content='Carlos Cuesta, Carlos Cuesta Starterkit, starterkit, web starterkit, webstarterkit, gulpjs, 	workflow, carlos, cuesta, cuesta starterkit, web starterkit, front end, web development')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='manifest', href='/manifest.json')
	meta(name='msapplication-TileColor', content='#f33155')
	meta(name='theme-color', content='#f33155')
	
